.spacer {
    flex: 1;
}

a{
    text-decoration: none;
}

.material-icons{
    margin-right: 5px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color:#fafafa;
    color:rgba(0,0,0,.65);
    font-weight: 600;
    border-bottom: 1px solid #c7c7c7;
}

.header h2 {
    margin: 0;
}

.mat-menu-trigger {
    margin: 15px;
}

button.mat-menu-item {
    border-bottom: 1px solid #c7c7c7;
}
