html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style: none;
    padding-left: 0;
}

div.mat-elevation-z8 {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

.formContainer{
    width: 75%;
    margin: auto;
    text-align: center;
}

.mat-toolbar-row{ 
    justify-content: space-between; 
    background-color: white;
}

.formRow{
    text-align: left;
    display: inline-block;
    margin: 1em;
}

.saveButton{
    /*En caso de modificar el color verde, modificarlo tambien en el edit*/
    background-color: rgb(33, 199, 33);
    color: white;
    margin: 10px;
    margin-right: 20px !important;
}

.backButton{
    background-color: rgb(224, 165, 54);
    color:white;
    margin: 10px;
}

.cancelButton{
    color:white;
    margin: 10px;
}

.editButton{
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.deleteButton{
    color:red;
    cursor: pointer;
    font-size: 20px;
}

.midButton{
    text-align: center;
    margin-top: 20px;
    position: relative;
    
}

.subTabla{
    margin-top: 30px;
    margin-bottom: 20px;
}

h2.subrayado-margen {
    border-bottom: 1px solid #ccc;
    margin: 20px 20px 40px 20px;
    padding-bottom: 5px;
}

.mat-cell {
    font-size: 13px;
}

tr.mat-row {
    height: 40px !important;
}